{
    "openapi": "3.0.0",
    "info": {
        "title": "Jikan API",
        "description": "[Jikan](https://jikan.moe) is an **Unofficial** MyAnimeList API. It scrapes the website to satisfy the need for an API - which MyAnimeList lacks.",
        "termsOfService": "https://jikan.moe/terms",
        "contact": {
            "email": "neko@jikan.moe"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/jikan-me/jikan-rest/blob/master/LICENSE"
        },
        "version": "4.0.0"
    },
    "servers": [
        {
            "url": "https://api.jikan.moe/v4-alpha",
            "description": "Jikan REST API Alpha"
        }
    ],
    "paths": {
        "/anime/{id}": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeById",
                "responses": {
                    "200": {
                        "description": "Returns anime resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/characters": {
            "get": {
                "tags": [
                    "anime characters"
                ],
                "operationId": "getAnimeCharacters",
                "responses": {
                    "200": {
                        "description": "Returns anime characters resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/staff": {
            "get": {
                "tags": [
                    "anime staff"
                ],
                "operationId": "getAnimeStaff",
                "responses": {
                    "200": {
                        "description": "Returns anime staff resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/episodes/{mal_id}": {
            "get": {
                "tags": [
                    "anime episode"
                ],
                "operationId": "getAnimeEpisodeById",
                "responses": {
                    "200": {
                        "description": "Returns a single anime episode resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/episodes": {
            "get": {
                "tags": [
                    "anime episodes"
                ],
                "operationId": "getAnimeEpisodes",
                "responses": {
                    "200": {
                        "description": "Returns a list of anime episodes",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/news": {
            "get": {
                "tags": [
                    "anime news"
                ],
                "operationId": "getAnimeNews",
                "responses": {
                    "200": {
                        "description": "Returns a list of anime news topics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/forum": {
            "get": {
                "tags": [
                    "forum"
                ],
                "operationId": "getAnimeTopics",
                "responses": {
                    "200": {
                        "description": "Returns a list of anime forum topics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/videos": {
            "get": {
                "tags": [
                    "anime videos"
                ],
                "operationId": "getAnimeVideos",
                "responses": {
                    "200": {
                        "description": "Returns a list of anime forum topics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/pictures": {
            "get": {
                "tags": [
                    "pictures"
                ],
                "operationId": "getAnimePictures",
                "responses": {
                    "200": {
                        "description": "Returns a list of anime forum topics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/statistics": {
            "get": {
                "tags": [
                    "anime statistics"
                ],
                "operationId": "getAnimeStatistics",
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/moreinfo": {
            "get": {
                "tags": [
                    "moreinfo"
                ],
                "operationId": "getAnimeMoreInfo",
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/recommendations": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "operationId": "getAnimeRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns anime recommendations",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/userupdates": {
            "get": {
                "tags": [
                    "anime userupdates"
                ],
                "operationId": "getAnimeUserUpdates",
                "responses": {
                    "200": {
                        "description": "Returns anime recommendations",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/reviews": {
            "get": {
                "tags": [
                    "anime reviews"
                ],
                "operationId": "getAnimeReviews",
                "responses": {
                    "200": {
                        "description": "Returns anime reviews",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}": {
            "get": {
                "tags": [
                    "character"
                ],
                "operationId": "getCharacterById",
                "responses": {
                    "200": {
                        "description": "Returns manga resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/pictures": {
            "get": {
                "tags": [
                    "pictures"
                ],
                "operationId": "getCharacterPictures",
                "responses": {
                    "200": {
                        "description": "Returns a list of pictures of the character",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaById",
                "responses": {
                    "200": {
                        "description": "Returns manga resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/characters": {
            "get": {
                "tags": [
                    "manga characters"
                ],
                "operationId": "getMangaCharacters",
                "responses": {
                    "200": {
                        "description": "Returns manga characters resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/news": {
            "get": {
                "tags": [
                    "manga news"
                ],
                "operationId": "getMangaNews",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga news topics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/forum": {
            "get": {
                "tags": [
                    "forum"
                ],
                "operationId": "getMangaTopics",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga forum topics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/pictures": {
            "get": {
                "tags": [
                    "pictures"
                ],
                "operationId": "getMangaPictures",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga forum topics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/statistics": {
            "get": {
                "tags": [
                    "manga statistics"
                ],
                "operationId": "getMangaStatistics",
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/moreinfo": {
            "get": {
                "tags": [
                    "moreinfo"
                ],
                "operationId": "getMangaMoreInfo",
                "responses": {
                    "200": {
                        "description": "Returns manga moreinfo",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/recommendations": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "operationId": "getMangaRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns manga recommendations",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/userupdates": {
            "get": {
                "tags": [
                    "manga userupdates"
                ],
                "operationId": "getMangaUserUpdates",
                "responses": {
                    "200": {
                        "description": "Returns manga user updates",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/reviews": {
            "get": {
                "tags": [
                    "manga reviews"
                ],
                "operationId": "getMangaReviews",
                "responses": {
                    "200": {
                        "description": "Returns manga reviews",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}": {
            "get": {
                "tags": [
                    "person"
                ],
                "operationId": "getPersonById",
                "responses": {
                    "200": {
                        "description": "Returns person resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/pictures": {
            "get": {
                "tags": [
                    "pictures"
                ],
                "operationId": "getPersonPictures",
                "responses": {
                    "200": {
                        "description": "Returns a list of pictures of the person",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime": {
            "get": {
                "tags": [
                    "anime search"
                ],
                "operationId": "getAnimeSearch",
                "responses": {
                    "200": {
                        "description": "Returns search results for anime",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga": {
            "get": {
                "tags": [
                    "manga search"
                ],
                "operationId": "getMangaSearch",
                "responses": {
                    "200": {
                        "description": "Returns search results for manga",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people": {
            "get": {
                "tags": [
                    "people search"
                ],
                "operationId": "getPeopleSearch",
                "responses": {
                    "200": {
                        "description": "Returns search results for people",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters": {
            "get": {
                "tags": [
                    "characters search"
                ],
                "operationId": "getCharactersSearch",
                "responses": {
                    "200": {
                        "description": "Returns search results for characters",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "users search"
                ],
                "operationId": "getUsersSearch",
                "responses": {
                    "200": {
                        "description": "Returns search results for users",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/userbyid": {
            "get": {
                "tags": [
                    "user by id search"
                ],
                "operationId": "getUserById",
                "responses": {
                    "200": {
                        "description": "Returns username by ID search",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs": {
            "get": {
                "tags": [
                    "clubs search"
                ],
                "operationId": "getClubsSearch",
                "responses": {
                    "200": {
                        "description": "Returns search results for clubs",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "anime episodes": {
                "description": "Anime Episodes Resource",
                "properties": {
                    "data": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/pagination"
                            },
                            {
                                "properties": {
                                    "results": {
                                        "type": "array",
                                        "items": {
                                            "properties": {
                                                "mal_id": {
                                                    "description": "MyAnimeList ID",
                                                    "type": "integer"
                                                },
                                                "url": {
                                                    "description": "MyAnimeList URL",
                                                    "type": "string"
                                                },
                                                "title": {
                                                    "description": "Title",
                                                    "type": "string"
                                                },
                                                "title_japanese": {
                                                    "description": "Title Japanese",
                                                    "type": "string"
                                                },
                                                "title_romanji": {
                                                    "description": "title_romanji",
                                                    "type": "string"
                                                },
                                                "duration": {
                                                    "description": "Episode duration in seconds",
                                                    "type": "integer"
                                                },
                                                "aired": {
                                                    "description": "Aired Date ISO8601",
                                                    "type": "string"
                                                },
                                                "filler": {
                                                    "description": "Filler episode",
                                                    "type": "bool"
                                                },
                                                "recap": {
                                                    "description": "Recap episode",
                                                    "type": "bool"
                                                },
                                                "synopsis": {
                                                    "description": "Episode Synopsis",
                                                    "type": "string"
                                                }
                                            },
                                            "type": "object"
                                        }
                                    }
                                },
                                "type": "object"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "anime news": {
                "description": "Anime News Resource",
                "properties": {
                    "data": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/pagination"
                            },
                            {
                                "$ref": "#/components/schemas/news"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "manga news": {
                "description": "Manga News Resource",
                "properties": {
                    "data": {
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/pagination"
                            },
                            {
                                "$ref": "#/components/schemas/news"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "anime characters": {
                "description": "Anime Characters Resource",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "mal_id": {
                                    "description": "MyAnimeList ID",
                                    "type": "integer"
                                },
                                "url": {
                                    "description": "MyAnimeList URL",
                                    "type": "string"
                                },
                                "image_url": {
                                    "description": "Image URL",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Character Name",
                                    "type": "string"
                                },
                                "role": {
                                    "description": "Character's Role",
                                    "type": "string"
                                },
                                "voice_actors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "allOf": [
                                            {
                                                "$ref": "#/components/schemas/mal_url"
                                            },
                                            {
                                                "properties": {
                                                    "image_url": {
                                                        "type": "string"
                                                    },
                                                    "language": {
                                                        "type": "string"
                                                    }
                                                },
                                                "type": "object"
                                            }
                                        ]
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "anime search": {
                "description": "Anime Search Resource",
                "properties": {
                    "data": {
                        "description": "The resource that this resource collects.",
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/pagination"
                            },
                            {
                                "$ref": "#/components/schemas/anime"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "anime episode": {
                "description": "Anime Episode Resource",
                "properties": {
                    "data": {
                        "properties": {
                            "mal_id": {
                                "description": "MyAnimeList ID",
                                "type": "integer"
                            },
                            "url": {
                                "description": "MyAnimeList URL",
                                "type": "string"
                            },
                            "title": {
                                "description": "Title",
                                "type": "string"
                            },
                            "title_japanese": {
                                "description": "Title Japanese",
                                "type": "string"
                            },
                            "title_romanji": {
                                "description": "title_romanji",
                                "type": "string"
                            },
                            "duration": {
                                "description": "Episode duration in seconds",
                                "type": "integer"
                            },
                            "aired": {
                                "description": "Aired Date ISO8601",
                                "type": "string"
                            },
                            "filler": {
                                "description": "Filler episode",
                                "type": "bool"
                            },
                            "recap": {
                                "description": "Recap episode",
                                "type": "bool"
                            },
                            "synopsis": {
                                "description": "Episode Synopsis",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "anime": {
                "description": "Anime Resource",
                "properties": {
                    "mal_id": {
                        "description": "MyAnimeList ID",
                        "type": "integer"
                    },
                    "url": {
                        "description": "MyAnimeList URL",
                        "type": "string"
                    },
                    "images": {
                        "description": "Images",
                        "properties": {
                            "jpg": {
                                "description": "Available images in JPG",
                                "properties": {
                                    "image_url": {
                                        "description": "Image URL JPG (225x335)",
                                        "type": "string"
                                    },
                                    "small_image_url": {
                                        "description": "Small Image URL JPG (50x74)",
                                        "type": "string"
                                    },
                                    "large_image_url": {
                                        "description": "Image URL JPG (300x446)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "webp": {
                                "description": "Available images in WEBP",
                                "properties": {
                                    "image_url": {
                                        "description": "Image URL WEBP (225x335)",
                                        "type": "string"
                                    },
                                    "small_image_url": {
                                        "description": "Small Image URL WEBP (50x74)",
                                        "type": "string"
                                    },
                                    "large_image_url": {
                                        "description": "Image URL WEBP (300x446)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    },
                    "trailer": {
                        "$ref": "#/components/schemas/trailer"
                    },
                    "title": {
                        "description": "Title",
                        "type": "string"
                    },
                    "title_english": {
                        "description": "English Title",
                        "type": "string"
                    },
                    "title_japanese": {
                        "description": "Japanese Title",
                        "type": "string"
                    },
                    "title_synonyms": {
                        "description": "Other Titles",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "type": {
                        "description": "Anime Type",
                        "type": "string",
                        "enum": [
                            "TV",
                            "OVA",
                            "Movie",
                            "Special",
                            "ONA",
                            "Music"
                        ]
                    },
                    "source": {
                        "description": "Original Material/Source adapted from",
                        "type": "string"
                    },
                    "episodes": {
                        "description": "Episode count",
                        "type": "integer"
                    },
                    "status": {
                        "description": "Airing status",
                        "type": "string",
                        "enum": [
                            "Finished Airing",
                            "Currently Airing",
                            "Not yet aired"
                        ]
                    },
                    "airing": {
                        "description": "Airing boolean",
                        "type": "bool"
                    },
                    "aired": {
                        "$ref": "#/components/schemas/daterange"
                    },
                    "duration": {
                        "description": "Parsed raw duration",
                        "type": "string"
                    },
                    "rating": {
                        "description": "Anime audience rating",
                        "type": "string",
                        "enum": [
                            "G - All Ages",
                            "PG - Children",
                            "PG-13 - Teens 13 or older",
                            "R - 17+ (violence & profanity)",
                            "R+ - Mild Nudity",
                            "Rx - Hentai"
                        ]
                    },
                    "score": {
                        "description": "Score",
                        "type": "float"
                    },
                    "scored_by": {
                        "description": "Number of users",
                        "type": "integer"
                    },
                    "rank": {
                        "description": "Ranking",
                        "type": "integer"
                    },
                    "popularity": {
                        "description": "Popularity",
                        "type": "integer"
                    },
                    "members": {
                        "description": "Number of users who have added this entry to their list",
                        "type": "integer"
                    },
                    "favorites": {
                        "description": "Number of users who have favorited this entry",
                        "type": "integer"
                    },
                    "synopsis": {
                        "description": "Synopsis",
                        "type": "string"
                    },
                    "background": {
                        "description": "Background",
                        "type": "string"
                    },
                    "season": {
                        "description": "Season",
                        "type": "string",
                        "enum": [
                            "Summer",
                            "Winter",
                            "Spring",
                            "Fall"
                        ]
                    },
                    "year": {
                        "description": "Year",
                        "type": "integer"
                    },
                    "broadcast": {
                        "$ref": "#/components/schemas/broadcast"
                    },
                    "related": {
                        "$ref": "#/components/schemas/relation"
                    },
                    "producers": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "$ref": "#/components/schemas/mal_url"
                        }
                    },
                    "licensors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "$ref": "#/components/schemas/mal_url"
                        }
                    },
                    "studios": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "$ref": "#/components/schemas/mal_url"
                        }
                    },
                    "genres": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "$ref": "#/components/schemas/mal_url"
                        }
                    },
                    "themes": {
                        "properties": {
                            "openings": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            },
                            "endings": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "anime staff": {
                "description": "Anime Staff Resource",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "mal_id": {
                                    "description": "MyAnimeList ID",
                                    "type": "integer"
                                },
                                "url": {
                                    "description": "MyAnimeList URL",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Name",
                                    "type": "string"
                                },
                                "positions": {
                                    "description": "Staff Positions",
                                    "type": "array",
                                    "items": {
                                        "type": "string"
                                    }
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "anime statistics": {
                "description": "Anime Statistics Resource",
                "properties": {
                    "data": {
                        "description": "Transform the resource into an array.",
                        "properties": {
                            "watching": {
                                "description": "Number of users watching the resource",
                                "type": "integer"
                            },
                            "completed": {
                                "description": "Number of users who have completed the resource",
                                "type": "integer"
                            },
                            "on_hold": {
                                "description": "Number of users who have put the resource on hold",
                                "type": "integer"
                            },
                            "dropped": {
                                "description": "Number of users who have dropped the resource",
                                "type": "integer"
                            },
                            "plan_to_watch": {
                                "description": "Number of users who have planned to watch the resource",
                                "type": "integer"
                            },
                            "total": {
                                "description": "Total number of users who have the resource added to their lists",
                                "type": "integer"
                            },
                            "scores": {
                                "description": "Transform the resource into an array.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "score": {
                                            "description": "The number Score",
                                            "type": "integer"
                                        },
                                        "votes": {
                                            "description": "Number of votes for this score",
                                            "type": "integer"
                                        },
                                        "percentage": {
                                            "description": "Percentage of votes for this score",
                                            "type": "float"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "anime videos": {
                "description": "Anime Videos Resource",
                "properties": {
                    "data": {
                        "description": "Transform the resource into an array.",
                        "properties": {
                            "promos": {
                                "description": "Transform the resource into an array.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "title": {
                                            "description": "Title",
                                            "type": "string"
                                        },
                                        "image_url": {
                                            "description": "Image URL",
                                            "type": "string"
                                        },
                                        "trailer": {
                                            "$ref": "#/components/schemas/trailer"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "episodes": {
                                "description": "Transform the resource into an array.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "mal_id": {
                                            "description": "MyAnimeList ID",
                                            "type": "integer"
                                        },
                                        "url": {
                                            "description": "MyAnimeList URL",
                                            "type": "string"
                                        },
                                        "title": {
                                            "description": "Title",
                                            "type": "string"
                                        },
                                        "episode": {
                                            "description": "Episode",
                                            "type": "string"
                                        },
                                        "image_url": {
                                            "description": "Image URL",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "characters search": {
                "description": "Characters Search Resource",
                "properties": {
                    "data": {
                        "description": "The resource that this resource collects.",
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/pagination"
                            },
                            {
                                "$ref": "#/components/schemas/character"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "character": {
                "description": "Character Resource",
                "properties": {
                    "mal_id": {
                        "description": "MyAnimeList ID",
                        "type": "integer"
                    },
                    "url": {
                        "description": "MyAnimeList URL",
                        "type": "string"
                    },
                    "images": {
                        "description": "Images",
                        "properties": {
                            "jpg": {
                                "description": "Available images in JPG",
                                "properties": {
                                    "image_url": {
                                        "description": "Image URL JPG (225x335)",
                                        "type": "string"
                                    },
                                    "small_image_url": {
                                        "description": "Small Image URL JPG (50x74)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "webp": {
                                "description": "Available images in WEBP",
                                "properties": {
                                    "image_url": {
                                        "description": "Image URL WEBP (225x335)",
                                        "type": "string"
                                    },
                                    "small_image_url": {
                                        "description": "Small Image URL WEBP (50x74)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    },
                    "name": {
                        "description": "Name",
                        "type": "string"
                    },
                    "nicknames": {
                        "description": "Other Names",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "favorites": {
                        "description": "Number of users who have favorited this entry",
                        "type": "integer"
                    },
                    "about": {
                        "description": "Synopsis",
                        "type": "string"
                    },
                    "animeography": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/mal_url"
                                },
                                {
                                    "properties": {
                                        "image_url": {
                                            "type": "string"
                                        },
                                        "role": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    },
                    "mangaography": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/mal_url"
                                },
                                {
                                    "properties": {
                                        "image_url": {
                                            "type": "string"
                                        },
                                        "role": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    },
                    "voice_actors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "allOf": [
                                {
                                    "$ref": "#/components/schemas/mal_url"
                                },
                                {
                                    "properties": {
                                        "image_url": {
                                            "type": "string"
                                        },
                                        "language": {
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            ]
                        }
                    }
                },
                "type": "object"
            },
            "trailer": {
                "description": "Youtube Details",
                "properties": {
                    "youtube_id": {
                        "description": "YouTube ID",
                        "type": "string"
                    },
                    "url": {
                        "description": "YouTube URL",
                        "type": "string"
                    },
                    "embed_url": {
                        "description": "Parsed Embed URL",
                        "type": "string"
                    },
                    "images": {
                        "properties": {
                            "image_url": {
                                "description": "Default Image Size URL (120x90)",
                                "type": "string"
                            },
                            "small_image_url": {
                                "description": "Small Image Size URL (640x480)",
                                "type": "string"
                            },
                            "medium_image_url": {
                                "description": "Medium Image Size URL (320x180)",
                                "type": "string"
                            },
                            "large_image_url": {
                                "description": "Large Image Size URL (480x360)",
                                "type": "string"
                            },
                            "maximum_image_url": {
                                "description": "Maximum Image Size URL (1280x720)",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "daterange": {
                "description": "Date range",
                "properties": {
                    "from": {
                        "description": "Date ISO8601",
                        "type": "string"
                    },
                    "to": {
                        "description": "Date ISO8601",
                        "type": "string"
                    },
                    "prop": {
                        "description": "Date Prop",
                        "properties": {
                            "from": {
                                "description": "Date Prop From",
                                "properties": {
                                    "day": {
                                        "description": "Day",
                                        "type": "integer"
                                    },
                                    "month": {
                                        "description": "Month",
                                        "type": "integer"
                                    },
                                    "year": {
                                        "description": "year",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "to": {
                                "description": "Date Prop To",
                                "properties": {
                                    "day": {
                                        "description": "Day",
                                        "type": "integer"
                                    },
                                    "month": {
                                        "description": "Month",
                                        "type": "integer"
                                    },
                                    "year": {
                                        "description": "year",
                                        "type": "integer"
                                    }
                                },
                                "type": "object"
                            },
                            "string": {
                                "description": "Raw parsed string",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "broadcast": {
                "description": "Broadcast Details",
                "properties": {
                    "day": {
                        "description": "Day of the week",
                        "type": "string"
                    },
                    "time": {
                        "description": "Time in 24 hour format",
                        "type": "string"
                    },
                    "timezone": {
                        "description": "Timezone (Tz Database format https://en.wikipedia.org/wiki/List_of_tz_database_time_zones)",
                        "type": "string"
                    },
                    "string": {
                        "description": "Raw parsed broadcast string",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "mal_url": {
                "description": "Parsed URL Data",
                "properties": {
                    "mal_id": {
                        "description": "MyAnimeList ID",
                        "type": "integer"
                    },
                    "type": {
                        "description": "Type of resource",
                        "type": "string"
                    },
                    "name": {
                        "description": "Resource Name/Title",
                        "type": "string"
                    },
                    "url": {
                        "description": "MyAnimeList URL",
                        "type": "string"
                    }
                },
                "type": "object"
            },
            "relation": {
                "description": "Related resources",
                "type": "array",
                "items": {
                    "properties": {
                        "relation": {
                            "description": "Relation type",
                            "type": "string"
                        },
                        "items": {
                            "description": "Related items",
                            "type": "array",
                            "items": {
                                "type": "object",
                                "$ref": "#/components/schemas/mal_url"
                            }
                        }
                    },
                    "type": "object"
                }
            },
            "pagination": {
                "properties": {
                    "last_visible_page": {
                        "type": "integer"
                    },
                    "has_next_page": {
                        "type": "bool"
                    }
                },
                "type": "object"
            },
            "news": {
                "properties": {
                    "results": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "mal_id": {
                                    "description": "MyAnimeList ID",
                                    "type": "integer"
                                },
                                "url": {
                                    "description": "MyAnimeList URL",
                                    "type": "string"
                                },
                                "title": {
                                    "description": "Title",
                                    "type": "string"
                                },
                                "date": {
                                    "description": "Post Date ISO8601",
                                    "type": "string"
                                },
                                "author_username": {
                                    "description": "Author MyAnimeList Username",
                                    "type": "string"
                                },
                                "author_url": {
                                    "description": "Author Profile URL",
                                    "type": "string"
                                },
                                "forum_url": {
                                    "description": "Forum topic URL",
                                    "type": "string"
                                },
                                "image_url": {
                                    "description": "Image URL",
                                    "type": "string"
                                },
                                "comments": {
                                    "description": "Comment count",
                                    "type": "integer"
                                },
                                "excerpt": {
                                    "description": "Excerpt",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "forum": {
                "description": "Forum Resource",
                "properties": {
                    "data": {
                        "description": "Transform the resource into an array.",
                        "type": "array",
                        "items": {
                            "properties": {
                                "mal_id": {
                                    "description": "MyAnimeList ID",
                                    "type": "integer"
                                },
                                "url": {
                                    "description": "MyAnimeList URL",
                                    "type": "string"
                                },
                                "title": {
                                    "description": "Title",
                                    "type": "string"
                                },
                                "date": {
                                    "description": "Post Date ISO8601",
                                    "type": "string"
                                },
                                "author_username": {
                                    "description": "Author MyAnimeList Username",
                                    "type": "string"
                                },
                                "author_url": {
                                    "description": "Author Profile URL",
                                    "type": "string"
                                },
                                "comments": {
                                    "description": "Comment count",
                                    "type": "integer"
                                },
                                "last_comment": {
                                    "description": "Last comment details",
                                    "properties": {
                                        "url": {
                                            "description": "Last comment URL",
                                            "type": "string"
                                        },
                                        "author_username": {
                                            "description": "Author MyAnimeList Username",
                                            "type": "string"
                                        },
                                        "author_url": {
                                            "description": "Author Profile URL",
                                            "type": "string"
                                        },
                                        "date": {
                                            "description": "Last comment date posted ISO8601",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "manga characters": {
                "description": "Manga Characters Resource",
                "properties": {
                    "data": {
                        "description": "Transform the resource into an array.",
                        "type": "array",
                        "items": {
                            "properties": {
                                "mal_id": {
                                    "description": "MyAnimeList ID",
                                    "type": "integer"
                                },
                                "url": {
                                    "description": "MyAnimeList URL",
                                    "type": "string"
                                },
                                "image_url": {
                                    "description": "Image URL",
                                    "type": "string"
                                },
                                "name": {
                                    "description": "Character Name",
                                    "type": "string"
                                },
                                "role": {
                                    "description": "Character's Role",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "manga search": {
                "description": "Manga Search Resource",
                "properties": {
                    "data": {
                        "description": "The resource that this resource collects.",
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/pagination"
                            },
                            {
                                "$ref": "#/components/schemas/manga"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "manga": {
                "description": "Manga Resource",
                "properties": {
                    "mal_id": {
                        "description": "MyAnimeList ID",
                        "type": "integer"
                    },
                    "url": {
                        "description": "MyAnimeList URL",
                        "type": "string"
                    },
                    "images": {
                        "description": "Images",
                        "properties": {
                            "jpg": {
                                "description": "Available images in JPG",
                                "properties": {
                                    "image_url": {
                                        "description": "Image URL JPG (225x335)",
                                        "type": "string"
                                    },
                                    "small_image_url": {
                                        "description": "Small Image URL JPG (50x74)",
                                        "type": "string"
                                    },
                                    "large_image_url": {
                                        "description": "Image URL JPG (300x446)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "webp": {
                                "description": "Available images in WEBP",
                                "properties": {
                                    "image_url": {
                                        "description": "Image URL WEBP (225x335)",
                                        "type": "string"
                                    },
                                    "small_image_url": {
                                        "description": "Small Image URL WEBP (50x74)",
                                        "type": "string"
                                    },
                                    "large_image_url": {
                                        "description": "Image URL WEBP (300x446)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    },
                    "title": {
                        "description": "Title",
                        "type": "string"
                    },
                    "title_english": {
                        "description": "English Title",
                        "type": "string"
                    },
                    "title_japanese": {
                        "description": "Japanese Title",
                        "type": "string"
                    },
                    "title_synonyms": {
                        "description": "Other Titles",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "type": {
                        "description": "Manga Type",
                        "type": "string",
                        "enum": [
                            "Manga",
                            "Novel",
                            "One-shot",
                            "Doujinshi",
                            "Manhua",
                            "Manhwa",
                            "OEL"
                        ]
                    },
                    "chapters": {
                        "description": "Chapter count",
                        "type": "integer"
                    },
                    "volumnes": {
                        "description": "Volume count",
                        "type": "integer"
                    },
                    "status": {
                        "description": "Publishing status",
                        "type": "string",
                        "enum": [
                            "Finished",
                            "Publishing",
                            "On Hiatus",
                            "Discontinued",
                            "Not yet published"
                        ]
                    },
                    "publishing": {
                        "description": "Publishing boolean",
                        "type": "bool"
                    },
                    "published": {
                        "$ref": "#/components/schemas/daterange"
                    },
                    "score": {
                        "description": "Score",
                        "type": "float"
                    },
                    "scored_by": {
                        "description": "Number of users",
                        "type": "integer"
                    },
                    "rank": {
                        "description": "Ranking",
                        "type": "integer"
                    },
                    "popularity": {
                        "description": "Popularity",
                        "type": "integer"
                    },
                    "members": {
                        "description": "Number of users who have added this entry to their list",
                        "type": "integer"
                    },
                    "favorites": {
                        "description": "Number of users who have favorited this entry",
                        "type": "integer"
                    },
                    "synopsis": {
                        "description": "Synopsis",
                        "type": "string"
                    },
                    "background": {
                        "description": "Background",
                        "type": "string"
                    },
                    "broadcast": {
                        "$ref": "#/components/schemas/broadcast"
                    },
                    "related": {
                        "$ref": "#/components/schemas/relation"
                    },
                    "authors": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "$ref": "#/components/schemas/mal_url"
                        }
                    },
                    "serializations": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "$ref": "#/components/schemas/mal_url"
                        }
                    },
                    "genres": {
                        "type": "array",
                        "items": {
                            "type": "object",
                            "$ref": "#/components/schemas/mal_url"
                        }
                    }
                },
                "type": "object"
            },
            "manga statistics": {
                "description": "Manga Statistics Resource",
                "properties": {
                    "data": {
                        "description": "Transform the resource into an array.",
                        "properties": {
                            "reading": {
                                "description": "Number of users reading the resource",
                                "type": "integer"
                            },
                            "completed": {
                                "description": "Number of users who have completed the resource",
                                "type": "integer"
                            },
                            "on_hold": {
                                "description": "Number of users who have put the resource on hold",
                                "type": "integer"
                            },
                            "dropped": {
                                "description": "Number of users who have dropped the resource",
                                "type": "integer"
                            },
                            "plan_to_read": {
                                "description": "Number of users who have planned to read the resource",
                                "type": "integer"
                            },
                            "total": {
                                "description": "Total number of users who have the resource added to their lists",
                                "type": "integer"
                            },
                            "scores": {
                                "description": "Transform the resource into an array.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "score": {
                                            "description": "The number Score",
                                            "type": "integer"
                                        },
                                        "votes": {
                                            "description": "Number of votes for this score",
                                            "type": "integer"
                                        },
                                        "percentage": {
                                            "description": "Percentage of votes for this score",
                                            "type": "float"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "moreinfo": {
                "description": "More Info Resource",
                "properties": {
                    "data": {
                        "description": "Transform the resource into an array.",
                        "properties": {
                            "moreinfo": {
                                "description": "Additional information on the entry",
                                "type": "string"
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "people search": {
                "description": "People Search Resource",
                "properties": {
                    "data": {
                        "description": "The resource that this resource collects.",
                        "type": "object",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/pagination"
                            },
                            {
                                "$ref": "#/components/schemas/person"
                            }
                        ]
                    }
                },
                "type": "object"
            },
            "person": {
                "description": "Person Resource",
                "properties": {
                    "mal_id": {
                        "description": "MyAnimeList ID",
                        "type": "integer"
                    },
                    "url": {
                        "description": "MyAnimeList URL",
                        "type": "string"
                    },
                    "website_url": {
                        "description": "Person's website URL",
                        "type": "string"
                    },
                    "images": {
                        "description": "Images",
                        "properties": {
                            "jpg": {
                                "description": "Available images in JPG",
                                "properties": {
                                    "image_url": {
                                        "description": "Image URL JPG (225x350)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            },
                            "webp": {
                                "description": "Available images in WEBP",
                                "properties": {
                                    "image_url": {
                                        "description": "Image URL WEBP (225x350)",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        },
                        "type": "object"
                    },
                    "name": {
                        "description": "Name",
                        "type": "string"
                    },
                    "given_name": {
                        "description": "Given Name",
                        "type": "string"
                    },
                    "family_name": {
                        "description": "Family Name",
                        "type": "string"
                    },
                    "alternate_names": {
                        "description": "Other Names",
                        "type": "array",
                        "items": {
                            "type": "string"
                        }
                    },
                    "birthday": {
                        "description": "Birthday Date ISO8601",
                        "type": "string"
                    },
                    "favorites": {
                        "description": "Number of users who have favorited this entry",
                        "type": "integer"
                    },
                    "about": {
                        "description": "Synopsis",
                        "type": "string"
                    },
                    "voice_acting_roles": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "role": {
                                    "description": "Role",
                                    "type": "string"
                                },
                                "anime": {
                                    "$ref": "#/components/schemas/mal_url"
                                },
                                "character": {
                                    "$ref": "#/components/schemas/mal_url"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "anime_staff_positions": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "position": {
                                    "description": "Position",
                                    "type": "string"
                                },
                                "anime": {
                                    "$ref": "#/components/schemas/mal_url"
                                }
                            },
                            "type": "object"
                        }
                    },
                    "published_manga": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "position": {
                                    "description": "Position",
                                    "type": "string"
                                },
                                "manga": {
                                    "$ref": "#/components/schemas/mal_url"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "pictures": {
                "description": "Pictures Resource",
                "properties": {
                    "data": {
                        "description": "Transform the resource into an array.",
                        "properties": {
                            "jpg": {
                                "description": "Transform the resource into an array.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "image_url": {
                                            "description": "Default JPG Image Size URL",
                                            "type": "string"
                                        },
                                        "large_image_url": {
                                            "description": "Large JPG Image Size URL",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            },
                            "webp": {
                                "description": "Transform the resource into an array.",
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "image_url": {
                                            "description": "Default JPG Image Size URL",
                                            "type": "string"
                                        },
                                        "large_image_url": {
                                            "description": "Large JPG Image Size URL",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "type": "object"
                    }
                },
                "type": "object"
            },
            "recommendations": {
                "description": "Recommendations Resource",
                "properties": {
                    "data": {
                        "description": "Transform the resource into an array.",
                        "type": "array",
                        "items": {
                            "properties": {
                                "mal_id": {
                                    "description": "Recommended MyAnimeList ID",
                                    "type": "integer"
                                },
                                "url": {
                                    "description": "Recommended MyAnimeList URL",
                                    "type": "string"
                                },
                                "recommendation_url": {
                                    "description": "Recommendation MyAnimeList URL",
                                    "type": "string"
                                },
                                "title": {
                                    "description": "Recommended Entry Title",
                                    "type": "string"
                                },
                                "recommendation_count": {
                                    "description": "Number of users who have recommended this entry",
                                    "type": "integer"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "anime reviews": {
                "description": "Anime Reviews Resource",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "mal_id": {
                                    "description": "MyAnimeList ID",
                                    "type": "integer"
                                },
                                "url": {
                                    "description": "MyAnimeList URL",
                                    "type": "string"
                                },
                                "type": {
                                    "description": "Entry Type",
                                    "type": "string"
                                },
                                "votes": {
                                    "description": "Number of user votes on the Review",
                                    "type": "integer"
                                },
                                "date": {
                                    "description": "Review created date ISO8601",
                                    "type": "string"
                                },
                                "scores": {
                                    "description": "Review Scores breakdown",
                                    "properties": {
                                        "overall": {
                                            "description": "Overall Score",
                                            "type": "integer"
                                        },
                                        "story": {
                                            "description": "Story Score",
                                            "type": "integer"
                                        },
                                        "animation": {
                                            "description": "Animation Score",
                                            "type": "integer"
                                        },
                                        "sound": {
                                            "description": "Sound Score",
                                            "type": "integer"
                                        },
                                        "character": {
                                            "description": "Character Score",
                                            "type": "integer"
                                        },
                                        "enjoyment": {
                                            "description": "Enjoyment Score",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
                                },
                                "review": {
                                    "description": "Review content",
                                    "type": "string"
                                },
                                "reviewer": {
                                    "description": "Reviewer details",
                                    "properties": {
                                        "username": {
                                            "description": "MyAnimeList Username",
                                            "type": "string"
                                        },
                                        "url": {
                                            "description": "MyAnimeList Profile URL",
                                            "type": "string"
                                        },
                                        "image_url": {
                                            "description": "User Display Picture Image URL",
                                            "type": "string"
                                        },
                                        "episodes_seen": {
                                            "description": "Number of episodes seen",
                                            "type": "integer"
                                        }
                                    },
                                    "type": "object"
[...]
