{
    "openapi": "3.0.0",
    "info": {
        "title": "Jikan API",
        "description": "[Jikan](https://jikan.moe) is an **Unofficial** MyAnimeList API. It scrapes the website to satisfy the need for an API - which MyAnimeList lacks.",
        "termsOfService": "https://jikan.moe/terms",
        "contact": {
            "email": "neko@jikan.moe"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/jikan-me/jikan-rest/blob/master/LICENSE"
        },
        "version": "4.0.0"
    },
    "servers": [
        {
            "url": "https://api.jikan.moe/v4-alpha",
            "description": "Jikan REST API Alpha"
        }
    ],
    "paths": {
        "/anime/{id}": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/anime"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/characters": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeCharacters",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime characters resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime characters"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/staff": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeStaff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime staff resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime staff"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/episodes/{ep_id}": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeEpisodeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    },
                    {
                        "name": "ep_id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a single anime episode resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime episode"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/episodes": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeEpisodes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of anime episodes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime episodes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/news": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeNews",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of anime news topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime news"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/forum": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeTopics",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    },
                    {
                        "name": "topic",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of anime forum topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/forum"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/videos": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeVideos",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of anime forum topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime videos"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/pictures": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimePictures",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of anime forum topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime pictures"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/statistics": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeStatistics",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime statistics"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/moreinfo": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeMoreInfo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/moreinfo"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/recommendations": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeRecommendations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/userupdates": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeUserUpdates",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime userupdates"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/reviews": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeReviews",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "intager"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime reviews"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterById",
                "responses": {
                    "200": {
                        "description": "Returns manga resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/pictures": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterPictures",
                "responses": {
                    "200": {
                        "description": "Returns a list of pictures of the character",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubsById",
                "responses": {
                    "200": {
                        "description": "Returns Club Resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}/members": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubMembers",
                "responses": {
                    "200": {
                        "description": "Returns Club Members Resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/genres/anime/{id}": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getAnimeGenreById",
                "responses": {
                    "200": {
                        "description": "Returns Genres's anime",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/genres/manga/{id}": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getMangaGenreById",
                "responses": {
                    "200": {
                        "description": "Returns Genres's manga",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/genres/anime": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getAnimeGenres",
                "responses": {
                    "200": {
                        "description": "Returns Anime Genres Resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/genres/manga": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getMangaGenres",
                "responses": {
                    "200": {
                        "description": "Returns Manga Genres Resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/magazines": {
            "get": {
                "tags": [
                    "magazines"
                ],
                "operationId": "getMagazines",
                "responses": {
                    "200": {
                        "description": "Returns Magazines Resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/magazines/{id}": {
            "get": {
                "tags": [
                    "magazines"
                ],
                "operationId": "getMagazineById",
                "responses": {
                    "200": {
                        "description": "Returns Magazine's manga",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaById",
                "responses": {
                    "200": {
                        "description": "Returns manga resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/manga"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/characters": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaCharacters",
                "responses": {
                    "200": {
                        "description": "Returns manga characters resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga characters"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/news": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaNews",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga news topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga news"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/forum": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaTopics",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga forum topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/forum"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/pictures": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaPictures",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga forum topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga pictures"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/statistics": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaStatistics",
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga statistics"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/moreinfo": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaMoreInfo",
                "responses": {
                    "200": {
                        "description": "Returns manga moreinfo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/moreinfo"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/recommendations": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns manga recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/userupdates": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaUserUpdates",
                "responses": {
                    "200": {
                        "description": "Returns manga user updates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga userupdates"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/reviews": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaReviews",
                "responses": {
                    "200": {
                        "description": "Returns manga reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga reviews"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonById",
                "responses": {
                    "200": {
                        "description": "Returns person resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/anime": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonAnime",
                "responses": {
                    "200": {
                        "description": "Returns person's anime staff positions",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/voices": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonVoices",
                "responses": {
                    "200": {
                        "description": "Returns person's voice acting roles",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/manga": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonManga",
                "responses": {
                    "200": {
                        "description": "Returns person's published manga",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/pictures": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonPictures",
                "responses": {
                    "200": {
                        "description": "Returns a list of pictures of the person",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/producers": {
            "get": {
                "tags": [
                    "producers"
                ],
                "operationId": "getProducers",
                "responses": {
                    "200": {
                        "description": "Returns Producers Resource",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/producers/{id}": {
            "get": {
                "tags": [
                    "producers"
                ],
                "operationId": "getProducerById",
                "responses": {
                    "200": {
                        "description": "Returns Producer's anime",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/anime": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomAnime",
                "responses": {
                    "200": {
                        "description": "Returns Random Anime",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/manga": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomManga",
                "responses": {
                    "200": {
                        "description": "Returns Random Manga",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/characters": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomCharacters",
                "responses": {
                    "200": {
                        "description": "Returns Random Character",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/people": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomPeople",
                "responses": {
                    "200": {
                        "description": "Returns Random People",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/recommendations/anime": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "operationId": "getAnimeRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns Recent Anime Recommendations",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/recommendations/manga": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "operationId": "getMangaRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns Recent Manga Recommendations",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/reviews/anime": {
            "get": {
                "tags": [
                    "reviews"
                ],
                "operationId": "getAnimeReviews",
                "responses": {
                    "200": {
                        "description": "Returns recent anime reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/pagination"
                                                },
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "allOf": [
                                                                    {
                                                                        "$ref": "#/components/schemas/anime review"
                                                                    },
                                                                    {
                                                                        "properties": {
                                                                            "anime": {
                                                                                "type": "object",
                                                                                "$ref": "#/components/schemas/anime meta"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    {
                                                                        "properties": {
                                                                            "user": {
                                                                                "type": "object",
                                                                                "$ref": "#/components/schemas/user meta"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/reviews/manga": {
            "get": {
                "tags": [
                    "reviews"
                ],
                "operationId": "getMangaReviews",
                "responses": {
                    "200": {
                        "description": "Returns recent manga reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/pagination"
                                                },
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "allOf": [
                                                                    {
                                                                        "$ref": "#/components/schemas/manga review"
                                                                    },
                                                                    {
                                                                        "properties": {
                                                                            "manga": {
                                                                                "type": "object",
                                                                                "$ref": "#/components/schemas/manga meta"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    {
                                                                        "properties": {
                                                                            "user": {
                                                                                "type": "object",
                                                                                "$ref": "#/components/schemas/user meta"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/schedules": {
            "get": {
                "tags": [
                    "schedules"
                ],
                "operationId": "getSchedules",
                "responses": {
                    "200": {
                        "description": "Returns weekly schedule",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime search query type"
                        }
                    },
                    {
                        "name": "score",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime search query status"
                        }
                    },
                    {
                        "name": "rating",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime search query rating"
                        }
                    },
                    {
                        "name": "sfw",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "genres",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "producer",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for anime",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga search query type"
                        }
                    },
                    {
                        "name": "score",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga search query status"
                        }
                    },
                    {
                        "name": "sfw",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "genres",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "magazine",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for manga",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPeopleSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/people search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for people",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharactersSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/characters search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for characters",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUsersSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/users search query gender"
                        }
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxAge",
                        "in": "query",
                        "schema": {
                            "type": "intager"
                        }
                    },
                    {
                        "name": "minAge",
                        "in": "query",
                        "schema": {
                            "type": "intager"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for users",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/userbyid": {
            "get": {
                "tags": [
                    "user"
                ],
                "operationId": "getUserById",
                "responses": {
                    "200": {
                        "description": "Returns username by ID search",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubsSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/club search query type"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/club search query category"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/club search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for clubs",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/seasons/{year}/{season}": {
            "get": {
                "tags": [
                    "seasons"
                ],
                "operationId": "getSeason",
                "responses": {
                    "200": {
                        "description": "Returns seasonal anime",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/seasons": {
            "get": {
                "tags": [
                    "seasons"
                ],
                "operationId": "getSeasons",
                "responses": {
                    "200": {
                        "description": "Returns available list of seasons",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/seasons/upcoming": {
            "get": {
                "tags": [
                    "seasons"
                ],
                "operationId": "getSeasonUpcoming",
                "responses": {
                    "200": {
                        "description": "Returns upcoming season's anime",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/anime": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopAnime",
                "responses": {
                    "200": {
                        "description": "Returns top anime",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/manga": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopManga",
                "responses": {
                    "200": {
                        "description": "Returns top manga",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/people": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopPeople",
                "responses": {
                    "200": {
                        "description": "Returns top people",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/characters": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopCharacters",
                "responses": {
                    "200": {
                        "description": "Returns top characters",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/reviews": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopReviews",
                "responses": {
                    "200": {
                        "description": "Returns top reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/pagination"
                                                },
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "anyOf": [
                                                                    {
                                                                        "allOf": [
                                                                            {
                                                                                "$ref": "#/components/schemas/anime review"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "anime": {
                                                                                        "type": "object",
                                                                                        "$ref": "#/components/schemas/anime meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "user": {
                                                                                        "type": "object",
                                                                                        "$ref": "#/components/schemas/user meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "allOf": [
                                                                            {
                                                                                "$ref": "#/components/schemas/manga review"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "manga": {
                                                                                        "type": "object",
                                                                                        "$ref": "#/components/schemas/manga meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "user": {
                                                                                        "type": "object",
                                                                                        "$ref": "#/components/schemas/user meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users/{username}": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUserProfile",
                "responses": {
                    "200": {
                        "description": "Returns user profile",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users/{username}/history/{type}": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUserHistory",
                "responses": {
                    "200": {
                        "description": "Returns user history (past 30 days)",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users/{username}/friends": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUserFriends",
                "responses": {
                    "200": {
                        "description": "Returns user friends",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users/{username}/reviews": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUserReviews",
                "responses": {
                    "200": {
                        "description": "Returns user reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "$ref": "#/components/schemas/pagination"
                                                },
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "anyOf": [
                                                                    {
                                                                        "allOf": [
                                                                            {
                                                                                "$ref": "#/components/schemas/anime review"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "anime": {
                                                                                        "type": "object",
                                                                                        "$ref": "#/components/schemas/anime meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "user": {
                                                                                        "type": "object",
                                                                                        "$ref": "#/components/schemas/user meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "allOf": [
                                                                            {
                                                                                "$ref": "#/components/schemas/manga review"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "manga": {
                                                                                        "type": "object",
                                                                                        "$ref": "#/components/schemas/manga meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "user": {
                                                                                        "type": "object",
                                                                                        "$ref": "#/components/schemas/user meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users/{username}/recommendations": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUserRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns Recent Anime Recommendations",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users/{username}/clubs": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUserClubs",
                "responses": {
                    "200": {
                        "description": "Returns user clubs",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/watch/episodes": {
            "get": {
                "tags": [
                    "watch"
                ],
                "operationId": "getWatchRecentEpisodes",
                "responses": {
                    "200": {
                        "description": "Returns Recently Added Episodes",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/watch/episodes/popular": {
            "get": {
                "tags": [
                    "watch"
                ],
                "operationId": "getWatchPopularEpisodes",
                "responses": {
                    "200": {
                        "description": "Returns Popular Episodes",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/watch/promos": {
            "get": {
                "tags": [
                    "watch"
                ],
                "operationId": "getWatchRecentPromos",
                "responses": {
                    "200": {
                        "description": "Returns Recently Added Promotional Videos",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/watch/promos/popular": {
            "get": {
                "tags": [
                    "watch"
                ],
                "operationId": "getWatchPopularPromos",
                "responses": {
                    "200": {
                        "description": "Returns Popular Promotional Videos",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        }
    },
    "components": {
        "schemas": {
            "anime episodes": {
                "description": "Anime Episodes Resource",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/pagination"
                    },
                    {
                        "properties": {
                            "data": {
                                "type": "array",
                                "items": {
                                    "properties": {
                                        "mal_id": {
                                            "description": "MyAnimeList ID",
                                            "type": "integer"
                                        },
                                        "url": {
                                            "description": "MyAnimeList URL",
                                            "type": "string"
                                        },
                                        "title": {
                                            "description": "Title",
                                            "type": "string"
                                        },
                                        "title_japanese": {
                                            "description": "Title Japanese",
                                            "type": "string"
                                        },
                                        "title_romanji": {
                                            "description": "title_romanji",
                                            "type": "string"
                                        },
                                        "duration": {
                                            "description": "Episode duration in seconds",
                                            "type": "integer"
                                        },
                                        "aired": {
                                            "description": "Aired Date ISO8601",
                                            "type": "string"
                                        },
                                        "filler": {
                                            "description": "Filler episode",
                                            "type": "boolean"
                                        },
                                        "recap": {
                                            "description": "Recap episode",
                                            "type": "boolean"
                                        },
                                        "synopsis": {
                                            "description": "Episode Synopsis",
                                            "type": "string"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        },
                        "type": "object"
                    }
                ]
            },
            "anime news": {
                "description": "Anime News Resource",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/pagination"
                    },
                    {
                        "$ref": "#/components/schemas/news"
                    }
                ]
            },
            "anime pictures": {
                "description": "Anime Pictures",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "image_url": {
                                    "description": "Default JPG Image Size URL",
                                    "type": "string"
                                },
                                "large_image_url": {
                                    "description": "Large JPG Image Size URL",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "club member": {
                "description": "Club Member",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "username": {
                                    "description": "MyAnimeList Username",
                                    "type": "string"
                                },
                                "url": {
                                    "description": "MyAnimeList URL",
                                    "type": "string"
                                },
                                "image_url": {
                                    "description": "MyAnimeList Image URL",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "manga news": {
                "description": "Manga News Resource",
                "allOf": [
                    {
                        "$ref": "#/components/schemas/pagination"
                    },
                    {
                        "$ref": "#/components/schemas/news"
                    }
                ]
            },
            "manga pictures": {
                "description": "Anime Pictures",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "properties": {
                                "image_url": {
                                    "description": "Default JPG Image Size URL",
                                    "type": "string"
                                },
                                "large_image_url": {
                                    "description": "Large JPG Image Size URL",
                                    "type": "string"
                                }
                            },
                            "type": "object"
                        }
                    }
                },
                "type": "object"
            },
            "random": {
                "description": "Random Resources",
                "properties": {
                    "data": {
                        "type": "array",
                        "items": {
                            "type": "object",
[...]
