{
    "openapi": "3.0.0",
    "info": {
        "title": "Jikan API",
        "description": "[Jikan](https://jikan.moe) is an **Unofficial** MyAnimeList API.\r\nIt scrapes the website to satisfy the need for a complete API - which MyAnimeList lacks.\r\n\r\n# Information\r\n\r\n⚡ Jikan is powered by it's awesome backers - 🙏 [Become a backer](https://www.patreon.com/jikan)\r\n\r\n## Rate Limiting\r\n\r\n| Duration | Requests |\r\n|----|----|\r\n| Daily | **Unlimited** |\r\n| Per Minute | 60 requests |\r\n| Per Second | 3 requests |\r\n\r\n\r\n## JSON Notes\r\n- Any property (except arrays or objects) whose value does not exist or is undetermined, will be `null`.\r\n- Any array or object property whose value does not exist or is undetermined, will be `null`.\r\n- Any `score` property whose value does not exist or is undetermined, will be `0`.\r\n- All dates and timestamps are returned in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format and in UTC timezone\r\n\r\n## Caching\r\nBy **CACHING**, we refer to the data parsed from MyAnimeList which is stored temporarily on our servers to provide better API performance.\r\n\r\nAll requests, by default are cached for **24 hours** except the following endpoints which have their own unique cache **Time To Live**.\r\n\r\n| Request | TTL |\r\n| ---- | ---- |\r\n| All (Default) | 24 hours |\r\n| User Anime/Manga List | 5 minutes |\r\n\r\n\r\nThe following response headers will detail cache information.\r\n\r\n| Header | Remarks |\r\n| ---- | ---- |\r\n| `Expires` | Expiry unix timestamp |\r\n\r\n\r\n## Allowed HTTP(s) requests\r\n\r\n**Jikan REST API does not provide authenticated requests for MyAnimeList.** This means you can not use it to update your anime/manga list.\r\nOnly GET requests are supported which return READ-ONLY data.\r\n\r\n## HTTP Responses\r\n\r\n| HTTP Status | Remarks |\r\n| ---- | ---- |\r\n| `200 - OK` | The request was successful |\r\n| `304 - Not Modified` | You have the latest data (Cache Validation response) |\r\n| `400 - Bad Request` | You've made an invalid request. Recheck documentation |\r\n| `404 - Not Found` | The resource was not found or MyAnimeList responded with a `404` |\r\n| `405 - Method Not Allowed` | Requested Method is not supported for resource. Only `GET` requests are allowed |\r\n| `429 - Too Many Request` | You are being rate limited by Jikan or MyAnimeList is rate-limiting our servers (specified in the error response) |\r\n| `500 - Internal Server Error` | Something is not working on our end. If you see an error response with a `report_url` URL, please click on it to open an auto-generated GitHub issue |\r\n| `503 - Service Unavailable` | The service has broke. |\r\n\r\n\r\n## JSON Error Response\r\n\r\n```json\r\n {\r\n     \"status\": 404,\r\n     \"type\": \"BadResponseException\",\r\n     \"message\": \"Resource does not exist\",\r\n     \"error\": \"Something Happened\",\r\n     \"report_url\": \"https://github.com...\"\r\n  }\r\n```\r\n\r\n| Property | Remarks |\r\n| ---- | ---- |\r\n| `status` | Returned HTTP Status Code |\r\n| `type` | Thrown Exception |\r\n| `message` | Human-readable error message |\r\n| `error` | Error response and trace from the API |\r\n| `report_url` | Clicking this would redirect you to a generated GitHub issue. ℹ It's only returned on a parser error. |\r\n\r\n\r\n## Cache Validation\r\n\r\n- All requests return a `ETag` header which is an MD5 hash of the response\r\n- You can use this hash to verify if there's new or updated content by suppliying it as the value for the `If-None-Match` in your next request header\r\n- You will get a HTTP `304 - Not Modified` response if the content has not changed\r\n- If the content has changed, you'll get a HTTP `200 - OK` response with the updated JSON response\r\n\r\n![Cache Validation](https://i.imgur.com/925ozVn.png 'Cache Validation')\r\n\r\n## Disclaimer\r\n\r\n- Jikan is not affiliated with MyAnimeList.net.\r\n- Jikan is a free, open-source API. Please use it responsibly.\r\n\r\n----\r\n\r\nBy using the API, you are agreeing to Jikan's [terms of use](https://jikan.moe/terms) policy.\r\n\r\n[v3 Documentation](https://jikan.docs.apiary.io/) - [Wrappers/SDKs](https://github.com/jikan-me/jikan#wrappers) - [Report an issue](https://github.com/jikan-me/jikan-rest/issues/new) - [Host your own server](https://github.com/jikan-me/jikan-rest)",
        "termsOfService": "https://jikan.moe/terms",
        "contact": {
            "name": "API Support (Discord)",
            "url": "http://discord.jikan.moe"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/jikan-me/jikan-rest/blob/master/LICENSE"
        },
        "version": "4.0.0"
    },
    "servers": [
        {
            "url": "https://api.jikan.moe/v4",
            "description": "Jikan REST API Beta"
        }
    ],
    "paths": {
        "/anime/{id}": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/anime"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/characters": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeCharacters",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime characters resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime characters"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/staff": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeStaff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime staff resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime staff"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/episodes": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeEpisodes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of anime episodes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime episodes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/episodes/{episode}": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeEpisodeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "episode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a single anime episode resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime episode"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/news": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeNews",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of news articles related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime news"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/forum": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeForum",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "topic",
                        "in": "query",
                        "description": "Filter topics",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "episode",
                                "other"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of forum topics related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/forum"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/videos": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeVideos",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns videos related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime videos"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/pictures": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimePictures",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns pictures related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pictures variants"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/statistics": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeStatistics",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime statistics"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/moreinfo": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeMoreInfo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/moreinfo"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/recommendations": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeRecommendations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/entry recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/userupdates": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeUserUpdates",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of users who have added/updated/removed the entry on their list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime userupdates"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/reviews": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeReviews",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime reviews"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/relations": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeRelations",
                "responses": {
                    "200": {
                        "description": "Returns anime relations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/relation"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/themes": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeThemes",
                "responses": {
                    "200": {
                        "description": "Returns anime themes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime themes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns character resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/character"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/anime": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterAnime",
                "responses": {
                    "200": {
                        "description": "Returns anime that character is in",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/character anime"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/manga": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterManga",
                "responses": {
                    "200": {
                        "description": "Returns manga that character is in",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/character manga"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/voices": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterVoiceActors",
                "responses": {
                    "200": {
                        "description": "Returns the character's voice actors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/character voice actors"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/pictures": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterPictures",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns pictures related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pictures"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubsById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Club Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/club"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}/members": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubMembers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Club Members Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/pagination"
                                        },
                                        {
                                            "$ref": "#/components/schemas/club member"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}/staff": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubStaff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Club Staff",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/club staff"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}/relations": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubRelations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Club Relations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/club relations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/genres/anime": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getAnimeGenres",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/genre query filter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns entry genres, explicit_genres, themes and demographics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/genres"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/genres/manga": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getMangaGenres",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/genre query filter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns entry genres, explicit_genres, themes and demographics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/genres"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/magazines": {
            "get": {
                "tags": [
                    "magazines"
                ],
                "operationId": "getMagazines",
                "responses": {
                    "200": {
                        "description": "Returns magazines collection",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/magazines"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaById",
                "responses": {
                    "200": {
                        "description": "Returns pictures related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/characters": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaCharacters",
                "responses": {
                    "200": {
                        "description": "Returns manga characters resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga characters"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/news": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaNews",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga news topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga news"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/forum": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaTopics",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga forum topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/forum"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/pictures": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaPictures",
                "responses": {
                    "200": {
                        "description": "Returns a list of manga forum topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pictures"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/statistics": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaStatistics",
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga statistics"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/moreinfo": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaMoreInfo",
                "responses": {
                    "200": {
                        "description": "Returns manga moreinfo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/moreinfo"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/recommendations": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns manga recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/entry recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/userupdates": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaUserUpdates",
                "responses": {
                    "200": {
                        "description": "Returns manga user updates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga userupdates"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/reviews": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaReviews",
                "responses": {
                    "200": {
                        "description": "Returns manga reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga reviews"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/relations": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaRelations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga relations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/relation"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns pictures related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pictures variants"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/anime": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonAnime",
                "responses": {
                    "200": {
                        "description": "Returns person's anime staff positions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/person anime"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/voices": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonVoices",
                "responses": {
                    "200": {
                        "description": "Returns person's voice acting roles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/person voice acting roles"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/manga": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonManga",
                "responses": {
                    "200": {
                        "description": "Returns person's published manga works",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/person manga"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/pictures": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonPictures",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of pictures of the person",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/person pictures"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/producers": {
            "get": {
                "tags": [
                    "producers"
                ],
                "operationId": "getProducers",
                "responses": {
                    "200": {
                        "description": "Returns producers collection",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/producers"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/anime": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomAnime",
                "responses": {
                    "200": {
                        "description": "Returns a random anime resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/anime"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/manga": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomManga",
                "responses": {
                    "200": {
                        "description": "Returns a random manga resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/manga"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/characters": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomCharacters",
                "responses": {
                    "200": {
                        "description": "Returns a random character resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/character"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/people": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomPeople",
                "responses": {
                    "200": {
                        "description": "Returns a random person resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/person"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/users": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomUsers",
                "responses": {
                    "200": {
                        "description": "Returns a random user profile resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/user profile"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/recommendations/anime": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "operationId": "getRecentAnimeRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns recent anime recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/recommendations/manga": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "operationId": "getRecentMangaRecommendations",
                "responses": {
                    "200": {
                        "description": "Returns recent manga recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/reviews/anime": {
            "get": {
                "tags": [
                    "reviews"
                ],
                "operationId": "getRecentAnimeReviews",
                "responses": {
                    "200": {
                        "description": "Returns recent anime reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "allOf": [
                                                                    {
                                                                        "properties": {
                                                                            "user": {
                                                                                "$ref": "#/components/schemas/user meta"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    {
                                                                        "properties": {
                                                                            "anime": {
                                                                                "$ref": "#/components/schemas/anime meta"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    {
                                                                        "$ref": "#/components/schemas/anime review"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/pagination"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/reviews/manga": {
            "get": {
                "tags": [
                    "reviews"
                ],
                "operationId": "getRecentMangaReviews",
                "responses": {
                    "200": {
                        "description": "Returns recent manga reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "allOf": [
                                                                    {
                                                                        "properties": {
                                                                            "user": {
                                                                                "$ref": "#/components/schemas/user meta"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    {
                                                                        "properties": {
                                                                            "manga": {
                                                                                "$ref": "#/components/schemas/manga meta"
                                                                            }
                                                                        },
                                                                        "type": "object"
                                                                    },
                                                                    {
                                                                        "$ref": "#/components/schemas/manga review"
                                                                    }
                                                                ]
                                                            }
                                                        }
                                                    },
                                                    "type": "object"
                                                },
                                                {
                                                    "$ref": "#/components/schemas/pagination"
                                                }
                                            ]
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/schedules": {
            "get": {
                "tags": [
                    "schedules"
                ],
                "operationId": "getSchedules",
                "parameters": [
                    {
                        "name": "topic",
                        "in": "path",
                        "description": "Filter by day",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "monday",
                                "tuesday",
                                "wednesday",
                                "thursday",
                                "friday",
                                "unknown",
                                "other"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns weekly schedule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/schedules"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime search query type"
                        }
                    },
                    {
                        "name": "score",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "min_score",
                        "in": "query",
                        "description": "Set a minimum score for results.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "max_score",
                        "in": "query",
                        "description": "Set a maximum score for results",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime search query status"
                        }
                    },
                    {
                        "name": "rating",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime search query rating"
                        }
                    },
                    {
                        "name": "sfw",
                        "in": "query",
                        "description": "Filter out Adult entries",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "genres",
                        "in": "query",
                        "description": "Filter by genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "genres_exclude",
                        "in": "query",
                        "description": "Exclude genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Return entries starting with the given letter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "producer",
                        "in": "query",
                        "description": "Filter by producer(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for anime",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga search query type"
                        }
                    },
                    {
                        "name": "score",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "min_score",
                        "in": "query",
                        "description": "Set a minimum score for results.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "max_score",
                        "in": "query",
                        "description": "Set a maximum score for results",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga search query status"
                        }
                    },
                    {
                        "name": "sfw",
                        "in": "query",
                        "description": "Filter out Adult entries",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "genres",
                        "in": "query",
                        "description": "Filter by genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "genres_exclude",
                        "in": "query",
                        "description": "Exclude genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Return entries starting with the given letter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "magazine",
                        "in": "query",
                        "description": "Filter by producer(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for manga",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPeopleSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/people search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Return entries starting with the given letter",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for people",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/people search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharactersSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/characters search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Return entries starting with the given letter",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for characters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/characters search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/users": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUsersSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "gender",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/users search query gender"
                        }
                    },
                    {
                        "name": "location",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "maxAge",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "minAge",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for users",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/users search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/userbyid": {
            "get": {
                "tags": [
                    "users"
                ],
                "operationId": "getUserById",
                "responses": {
                    "200": {
                        "description": "Returns username by ID search",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/user by id"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubsSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/club search query type"
                        }
                    },
                    {
                        "name": "category",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/club search query category"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/club search query orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search query sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Return entries starting with the given letter",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for clubs",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/clubs search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/seasons/{year}/{season}": {
            "get": {
                "tags": [
                    "seasons"
                ],
                "operationId": "getSeason",
                "responses": {
                    "200": {
                        "description": "Returns seasonal anime",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/seasons/now": {
            "get": {
                "tags": [
                    "seasons"
                ],
                "operationId": "getSeasonNow",
                "responses": {
                    "200": {
                        "description": "Returns current seasonal anime",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/seasons": {
            "get": {
                "tags": [
                    "seasons"
                ],
                "operationId": "getSeasonsList",
                "responses": {
                    "200": {
                        "description": "Returns available list of seasons",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/seasons"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/seasons/upcoming": {
            "get": {
                "tags": [
                    "seasons"
                ],
                "operationId": "getSeasonUpcoming",
                "responses": {
                    "200": {
                        "description": "Returns upcoming season's anime",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/anime": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopAnime",
                "responses": {
                    "200": {
                        "description": "Returns top anime",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/manga": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopManga",
                "responses": {
                    "200": {
                        "description": "Returns top manga",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/people": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopPeople",
                "responses": {
                    "200": {
                        "description": "Returns top people",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/people search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/characters": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopCharacters",
                "responses": {
                    "200": {
                        "description": "Returns top characters",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/characters search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/top/reviews": {
            "get": {
                "tags": [
                    "top"
                ],
                "operationId": "getTopReviews",
                "responses": {
                    "200": {
                        "description": "Returns top reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "allOf": [
                                                {
                                                    "properties": {
                                                        "data": {
                                                            "type": "array",
                                                            "items": {
                                                                "anyOf": [
                                                                    {
                                                                        "allOf": [
                                                                            {
                                                                                "properties": {
                                                                                    "user": {
                                                                                        "$ref": "#/components/schemas/user meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "properties": {
                                                                                    "anime": {
                                                                                        "$ref": "#/components/schemas/anime meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
                                                                                "$ref": "#/components/schemas/anime review"
                                                                            }
                                                                        ]
                                                                    },
                                                                    {
                                                                        "allOf": [
                                                                            {
                                                                                "properties": {
                                                                                    "user": {
                                                                                        "$ref": "#/components/schemas/user meta"
                                                                                    }
                                                                                },
                                                                                "type": "object"
                                                                            },
                                                                            {
[...]
