{
    "openapi": "3.0.0",
    "info": {
        "title": "Jikan API",
        "description": "[Jikan](https://jikan.moe) is an **Unofficial** MyAnimeList API.\nIt scrapes the website to satisfy the need for a complete API - which MyAnimeList lacks.\n\n# Information\n\n⚡ Jikan is powered by it's awesome backers - 🙏 [Become a backer](https://www.patreon.com/jikan)\n\n## Rate Limiting\n\n| Duration | Requests |\n|----|----|\n| Daily | **Unlimited** |\n| Per Minute | 60 requests |\n| Per Second | 3 requests |\n\nNote: It's still possible to get rate limited from MyAnimeList.net instead.\n\n\n## JSON Notes\n- Any property (except arrays or objects) whose value does not exist or is undetermined, will be `null`.\n- Any array or object property whose value does not exist or is undetermined, will be empty.\n- Any `score` property whose value does not exist or is undetermined, will be `0`.\n- All dates and timestamps are returned in [ISO8601](https://en.wikipedia.org/wiki/ISO_8601) format and in UTC timezone\n\n## Caching\nBy **CACHING**, we refer to the data parsed from MyAnimeList which is stored temporarily on our servers to provide better API performance.\n\nAll requests are cached for **24 hours**.\n\nThe following response headers will detail cache information.\n\n| Header | Remarks |\n| ---- | ---- |\n| `Expires` | Cache expiry date |\n| `Last-Modified` | Cache set date |\n| `X-Request-Fingerprint` | Unique request fingerprint (only for cachable requests, not queries) |\n\n\nNote: `X-Request-Fingerprint` will only be available on single resource requests and their child endpoints. e.g `/anime/1`, `/anime/1/relations`.\nThey won't be available on pages which perform queries, like /anime, or /top/anime, etc.\n\n## Allowed HTTP(s) requests\n\n**Jikan REST API does not provide authenticated requests for MyAnimeList.** This means you can not use it to update your anime/manga list.\nOnly GET requests are supported which return READ-ONLY data.\n\n## HTTP Responses\n\nAll error responses are accompanied by a JSON Error response.\n\n| Exception | HTTP Status | Remarks |\n| ---- | ---- | ---- |\n| N/A | `200 - OK` | The request was successful |\n| N/A | `304 - Not Modified` | You have the latest data (Cache Validation response) |\n| `BadRequestException`,`ValidationException` | `400 - Bad Request` | You've made an invalid request. Recheck documentation |\n| `BadResponseException` | `404 - Not Found` | The resource was not found or MyAnimeList responded with a `404` |\n| `BadRequestException` | `405 - Method Not Allowed` | Requested Method is not supported for resource. Only `GET` requests are allowed |\n| `RateLimitException` | `429 - Too Many Request` | You are being rate limited by Jikan or MyAnimeList is rate-limiting our servers (specified in the error response) |\n| `UpstreamException`,`ParserException`,etc. | `500 - Internal Server Error` | Something didn't work. Try again later. If you see an error response with a `report_url` URL, please click on it to open an auto-generated GitHub issue |\n\n## JSON Error Response\n\n```json\n {\n     \"status\": 500,\n     \"type\": \"InternalException\",\n     \"message\": \"Exception Message\",\n     \"error\": \"Exception Trace\",\n     \"report_url\": \"https://github.com...\"\n  }\n```\n\n| Property | Remarks |\n| ---- | ---- |\n| `status` | Returned HTTP Status Code |\n| `type` | Thrown Exception |\n| `message` | Human-readable error message |\n| `error` | Error response and trace from the API |\n| `report_url` | Clicking this would redirect you to a generated GitHub issue |\n\n\n## Cache Validation\n\n- All requests return a `ETag` header which is an MD5 hash of the response\n- You can use this hash to verify if there's new or updated content by suppliying it as the value for the `If-None-Match` in your next request header\n- You will get a HTTP `304 - Not Modified` response if the content has not changed\n- If the content has changed, you'll get a HTTP `200 - OK` response with the updated JSON response\n\n![Cache Validation](https://i.imgur.com/925ozVn.png 'Cache Validation')\n\n## Disclaimer\n\n- Jikan is not affiliated with MyAnimeList.net.\n- Jikan is a free, open-source API. Please use it responsibly.\n\n----\n\nBy using the API, you are agreeing to Jikan's [terms of use](https://jikan.moe/terms) policy.\n\n[v3 Documentation](https://jikan.docs.apiary.io/) - [Wrappers/SDKs](https://github.com/jikan-me/jikan#wrappers) - [Report an issue](https://github.com/jikan-me/jikan-rest/issues/new) - [Host your own server](https://github.com/jikan-me/jikan-rest)",
        "termsOfService": "https://jikan.moe/terms",
        "contact": {
            "name": "API Support (Discord)",
            "url": "http://discord.jikan.moe"
        },
        "license": {
            "name": "MIT",
            "url": "https://github.com/jikan-me/jikan-rest/blob/master/LICENSE"
        },
        "version": "4.0.0"
    },
    "servers": [
        {
            "url": "https://api.jikan.moe/v4",
            "description": "Jikan REST API"
        }
    ],
    "paths": {
        "/anime/{id}/full": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeFullById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns complete anime resource data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/anime_full"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/anime"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/characters": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeCharacters",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime characters resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_characters"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/staff": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeStaff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime staff resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_staff"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/episodes": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeEpisodes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of anime episodes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_episodes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/episodes/{episode}": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeEpisodeById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "episode",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a single anime episode resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/anime_episode"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/news": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeNews",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of news articles related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_news"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/forum": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeForum",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter topics",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "episode",
                                "other"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of forum topics related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/forum"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/videos": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeVideos",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns videos related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_videos"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/videos/episodes": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeVideosEpisodes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns episode videos related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_videos_episodes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/pictures": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimePictures",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns pictures related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/pictures_variants"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/statistics": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeStatistics",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_statistics"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/moreinfo": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeMoreInfo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/moreinfo"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/recommendations": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeRecommendations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/entry_recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/userupdates": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeUserUpdates",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of users who have added/updated/removed the entry on their list",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_userupdates"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/reviews": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeReviews",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/preliminary"
                    },
                    {
                        "$ref": "#/components/parameters/spoiler"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_reviews"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/relations": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeRelations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime relations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/relation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/anime/{id}/themes": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeThemes",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime themes",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_themes"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/external": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeExternal",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime external links",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/external_links"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime/{id}/streaming": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeStreaming",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime streaming links",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/external_links"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/full": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterFullById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns complete character resource data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/character_full"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns character resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/character"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/anime": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterAnime",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime that character is in",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/character_anime"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/manga": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterManga",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga that character is in",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/character_manga"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/voices": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterVoiceActors",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns the character's voice actors",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/character_voice_actors"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/characters/{id}/pictures": {
            "get": {
                "tags": [
                    "characters"
                ],
                "operationId": "getCharacterPictures",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns pictures related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/character_pictures"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubsById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Club Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/club"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}/members": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubMembers",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Club Members Resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "allOf": [
                                        {
                                            "$ref": "#/components/schemas/pagination"
                                        },
                                        {
                                            "$ref": "#/components/schemas/club_member"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}/staff": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubStaff",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Club Staff",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/club_staff"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/clubs/{id}/relations": {
            "get": {
                "tags": [
                    "clubs"
                ],
                "operationId": "getClubRelations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns Club Relations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/club_relations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/genres/anime": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getAnimeGenres",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/genre_query_filter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns entry genres, explicit_genres, themes and demographics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/genres"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/genres/manga": {
            "get": {
                "tags": [
                    "genres"
                ],
                "operationId": "getMangaGenres",
                "parameters": [
                    {
                        "name": "filter",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/genre_query_filter"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns entry genres, explicit_genres, themes and demographics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/genres"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/magazines": {
            "get": {
                "tags": [
                    "magazines"
                ],
                "operationId": "getMagazines",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/magazines_query_orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search_query_sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Return entries starting with the given letter",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns magazines collection",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/magazines"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/full": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaFullById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns complete manga resource data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/manga_full"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns pictures related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/manga"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/characters": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaCharacters",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga characters resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga_characters"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/news": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaNews",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of manga news topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga_news"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/forum": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaTopics",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter topics",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "all",
                                "episode",
                                "other"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of manga forum topics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/forum"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/pictures": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaPictures",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of manga pictures",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga_pictures"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/statistics": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaStatistics",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns anime statistics",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga_statistics"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/moreinfo": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaMoreInfo",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga moreinfo",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/moreinfo"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/recommendations": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaRecommendations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/entry_recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/userupdates": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaUserUpdates",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga user updates",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga_userupdates"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/reviews": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaReviews",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/preliminary"
                    },
                    {
                        "$ref": "#/components/parameters/spoiler"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga reviews",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/manga_reviews"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/relations": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaRelations",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga relations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/relation"
                                            }
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga/{id}/external": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaExternal",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns manga external links",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/external_links"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/full": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonFullById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns complete character resource data",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/person_full"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns pictures related to the entry",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/person"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/anime": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonAnime",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns person's anime staff positions",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/person_anime"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/voices": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonVoices",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns person's voice acting roles",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/person_voice_acting_roles"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/manga": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonManga",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns person's published manga works",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/person_manga"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/people/{id}/pictures": {
            "get": {
                "tags": [
                    "people"
                ],
                "operationId": "getPersonPictures",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns a list of pictures of the person",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/person_pictures"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/producers/{id}": {
            "get": {
                "tags": [
                    "producers"
                ],
                "operationId": "getProducerById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns producer resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/producer"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/producers/{id}/full": {
            "get": {
                "tags": [
                    "producers"
                ],
                "operationId": "getProducerFullById",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns producer resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/producer_full"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/producers/{id}/external": {
            "get": {
                "tags": [
                    "producers"
                ],
                "operationId": "getProducerExternal",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns producer's external links",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/external_links"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/anime": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomAnime",
                "responses": {
                    "200": {
                        "description": "Returns a random anime resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/anime"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/manga": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomManga",
                "responses": {
                    "200": {
                        "description": "Returns a random manga resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/manga"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/characters": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomCharacters",
                "responses": {
                    "200": {
                        "description": "Returns a random character resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/character"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/people": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomPeople",
                "responses": {
                    "200": {
                        "description": "Returns a random person resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/person"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/random/users": {
            "get": {
                "tags": [
                    "random"
                ],
                "operationId": "getRandomUsers",
                "responses": {
                    "200": {
                        "description": "Returns a random user profile resource",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/user_profile"
                                        }
                                    },
                                    "type": "object"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/recommendations/anime": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "operationId": "getRecentAnimeRecommendations",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns recent anime recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/recommendations/manga": {
            "get": {
                "tags": [
                    "recommendations"
                ],
                "operationId": "getRecentMangaRecommendations",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns recent manga recommendations",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/recommendations"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/reviews/anime": {
            "get": {
                "tags": [
                    "reviews"
                ],
                "operationId": "getRecentAnimeReviews",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/preliminary"
                    },
                    {
                        "$ref": "#/components/parameters/spoiler"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns recent anime reviews",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/reviews/manga": {
            "get": {
                "tags": [
                    "reviews"
                ],
                "operationId": "getRecentMangaReviews",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/preliminary"
                    },
                    {
                        "$ref": "#/components/parameters/spoiler"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns recent manga reviews",
                        "content": {
                            "application/json": {
                                "schema": {}
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/schedules": {
            "get": {
                "tags": [
                    "schedules"
                ],
                "operationId": "getSchedules",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "name": "filter",
                        "in": "query",
                        "description": "Filter by day",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "monday",
                                "tuesday",
                                "wednesday",
                                "thursday",
                                "friday",
                                "unknown",
                                "other"
                            ]
                        }
                    },
                    {
                        "name": "kids",
                        "in": "query",
                        "description": "When supplied, it will filter entries with the `Kids` Genre Demographic. When supplied as `kids=true`, it will return only Kid entries and when supplied as `kids=false`, it will filter out any Kid entries. Defaults to `false`.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "true",
                                "false"
                            ]
                        }
                    },
                    {
                        "name": "sfw",
                        "in": "query",
                        "description": "'Safe For Work'. When supplied, it will filter entries with the `Hentai` Genre. When supplied as `sfw=true`, it will return only SFW entries and when supplied as `sfw=false`, it will filter out any Hentai entries. Defaults to `false`.",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "enum": [
                                "true",
                                "false"
                            ]
                        }
                    },
                    {
                        "$ref": "#/components/parameters/sfw"
                    },
                    {
                        "$ref": "#/components/parameters/unapproved"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns weekly schedule",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/schedules"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/anime": {
            "get": {
                "tags": [
                    "anime"
                ],
                "operationId": "getAnimeSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/sfw"
                    },
                    {
                        "$ref": "#/components/parameters/unapproved"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime_search_query_type"
                        }
                    },
                    {
                        "name": "score",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "min_score",
                        "in": "query",
                        "description": "Set a minimum score for results.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "max_score",
                        "in": "query",
                        "description": "Set a maximum score for results",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime_search_query_status"
                        }
                    },
                    {
                        "name": "rating",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime_search_query_rating"
                        }
                    },
                    {
                        "name": "sfw",
                        "in": "query",
                        "description": "Filter out Adult entries",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "genres",
                        "in": "query",
                        "description": "Filter by genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "genres_exclude",
                        "in": "query",
                        "description": "Exclude genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/anime_search_query_orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search_query_sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Return entries starting with the given letter",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "producers",
                        "in": "query",
                        "description": "Filter by producer(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "start_date",
                        "in": "query",
                        "description": "Filter by starting date. Format: YYYY-MM-DD. e.g `2022`, `2005-05`, `2005-01-01`",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "end_date",
                        "in": "query",
                        "description": "Filter by ending date. Format: YYYY-MM-DD. e.g `2022`, `2005-05`, `2005-01-01`",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Returns search results for anime",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/anime_search"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "Error: Bad request. When required parameters were not supplied."
                    }
                }
            }
        },
        "/manga": {
            "get": {
                "tags": [
                    "manga"
                ],
                "operationId": "getMangaSearch",
                "parameters": [
                    {
                        "$ref": "#/components/parameters/sfw"
                    },
                    {
                        "$ref": "#/components/parameters/unapproved"
                    },
                    {
                        "$ref": "#/components/parameters/page"
                    },
                    {
                        "$ref": "#/components/parameters/limit"
                    },
                    {
                        "name": "q",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "type",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga_search_query_type"
                        }
                    },
                    {
                        "name": "score",
                        "in": "query",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "min_score",
                        "in": "query",
                        "description": "Set a minimum score for results.",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "max_score",
                        "in": "query",
                        "description": "Set a maximum score for results",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga_search_query_status"
                        }
                    },
                    {
                        "name": "sfw",
                        "in": "query",
                        "description": "Filter out Adult entries",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "genres",
                        "in": "query",
                        "description": "Filter by genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "genres_exclude",
                        "in": "query",
                        "description": "Exclude genre(s) IDs. Can pass multiple with a comma as a delimiter. e.g 1,2,3",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/manga_search_query_orderby"
                        }
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "schema": {
                            "$ref": "#/components/schemas/search_query_sort"
                        }
                    },
                    {
                        "name": "letter",
                        "in": "query",
                        "description": "Return entries starting with the given letter",
                        "schema": {
                            "type": "string"
                        }
                    },
[...]
