.dockerignore
docker/*
Makefile
docker*.yml
Dockerfile
bootstrap/cache/*
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
storage/*.cache
vendor
node_modules
*.log
.gitignore
.editorconfig
.idea
.vscode
.github
.git
db_username.txt
db_password.txt
redis_password.txt
typesense_api_key.txt
.phpunit.result.cache
.env
.env.dist
docker-compose.yml
